@import "../../styles.scss";

.leftBar {
    flex: 1;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;



    @include mobile {
        display: none;
    }

    //Good Job KB

    &::-webkit-scrollbar {
        display: none;
    }





    .container {
        padding: 20px;

        .navigation {
            display: flex;
            flex-direction: column;
            gap: 20px;


            .user {


                item {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 10px;



                }
            }
        }
    }
}